@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

body {
  background: $default-color;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  color:#000;
  margin: 0;
  padding: 0;
}

// Modules:
@import "modules/swiper.scss";
@import "modules/container.scss";
@import "modules/button.scss";
@import "modules/main-menu.scss";
@import "modules/page-header.scss";
@import "modules/slider.scss";
@import "modules/news.scss";
@import "modules/main.scss";
@import "modules/reviews.scss";
@import "modules/pagination.scss";
@import "modules/promo.scss";
@import "modules/events.scss";
@import "modules/small-slider.scss";
@import "modules/footer.scss";
