/* Vars:
   ========================================================================== */

// Font
$mainFont                : "PlayfairDisplay", helvetica, arial, sans-serif;
$secondFont              : "Raleway", helvetica, arial, sans-serif;
$paginationFont          : "ProximaNova", helvetica, arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 28px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1200px;
$smDesktopWidth          : 1024px;
$tableWidth              : 800px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$default-color           : #ffffff;
$orange                  : #ff7931;
$black                   : #000000;
$dark-gray               : lighten($black, 30%);
$gray                    : lighten($black, 70%);
$light-gray              : #f9f9fc;

