.news {
  margin-bottom: 50px;

  @media (min-width: $tableWidth) {
    margin-bottom: 75px;
  }
}

.news__container {
  display: grid;
  font-size: 14px;
  gap: 20px 29px;
  grid-template-columns: 1fr;

  @media (min-width: $tableWidth) {
    grid-template-columns: 61.2% 35%;
  }
}

.news__left {
  position: relative;
}

.news__right {
  position: relative;
  display: grid;
  align-content: space-between;
}

.news__right-element {
  @media (max-width: $tableWidth) {
    margin-bottom: 30px;
  }
}

.news__image {
  position: relative;
  display: block;

  &--big {
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &--small {
    img {
      position: relative;
    }
  }
}

.news__info {
  position: absolute;
  bottom: 0;
  padding: 10px 15px 20px 15px;

  @media (min-width: $desktopWidth) {
    padding: 10px 31px 21px 23px;
  }

  &--small {
    position: relative;
    padding: 0;
    width: 48%;
    margin-left: 4%;
  }
}

.news__link {
  width: 100%;
  cursor: pointer;
  color: $black;
  display: flex;
  position: relative;

  &--right {
    .icon--bookmark {
      right: 0;
      left: 95px;
    }

    &:hover {
      .icon {
        display: block;
      }
    }
  }

  &:hover {
    color: $orange;

    .news__image {
      filter: brightness(75%);
      transition: filter 0.5s;
    }

    .news__info--big {
      background-color: fade-out($light-gray, 0.2);
      transition: 0.5s;
    }

    .icon {
      transition: opacity 0.5s;
      opacity: 1;
    }
  }
}

.news__header {
  font-family: $mainFont;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;

  &--small {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.news__text {
  font-family: $secondFont;
  font-size: 14px;
  line-height: 150%;
  color: black;

  &--small {
    font-size: 10px;
    line-height: 150%;
  }
}

img::before {
  content: "";
  display: block;
  padding-bottom: calc(100% * 2 / 3);
}

