.reviews {
  margin-bottom: 50px;
}
.reviews__container {
  display: grid;
  gap: 30px 0;
  @media (min-width: $tableWidth) {
    grid-template-columns: 1fr 1fr;
    gap: 38px 28px
  }
}
.reviews__header {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}

.reviews__item {
  width: 100%;
  position: relative;

  img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.reviews__image {
  overflow: hidden;
  display: block;
  margin-bottom: 15px;
  height: 203px;
  @media (max-width: $tableWidth) {
    margin-bottom: 20px;
  }
}
