.swiper-container {
  width: 100%;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  background: #ffffff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 0) {
  .slider__control {
    display: none;
  }
}

@media (min-width: 1200px) {
  .slider__control {
    display: block;
  }
}

@media (min-width: 1200px) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: $default-color;
}


.small-slider__container > .swiper-pagination-bullets {
  bottom: 0;
}

